<!DOCTYPE html>
<html ng-app="app">
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}
	</style>
</head>

<body>
	<div class="container">
		<div
			class="btn btn-success btn-block"
			ng-repeat="item in 'somewords'.split('') track by $index"
			ng-click="$log.debug($event)">
			{{ $index }}. {{ item }}
			{{ ev.pageY }}
		</div>
	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>