<!DOCTYPE html>
<html>
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}
	</style>
</head>

<body>
	<div class="container">
		<div ng-app="myApp">
			<div ng-controller="AvengersCtrl">
				<input type="text" ng-model="search.$" class="form-control">
				<table class="table">
					<tr ng-repeat="actor in avengers.cast | orderBy: 'name' | limitTo: 1 ">
						<td> {{ actor.name | lowercase }} </td>
						<td> {{ actor.character }} </td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>