<!DOCTYPE html>
<html>
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}
	</style>
</head>

<body>
	<div class="container">

		<div ng-app="ReverseApp">

			<div ng-controller="Ctrl">
				<input ng-model="greeting" type="text" class="form-control">
				<p> No filter: {{ greeting }} </p>
				<p> Reverse: {{ greeting | reverse }} </p>
				<p> Reverse + UC: {{ greeting | reverse:true }}

			</div>
		</div>

	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>