<!DOCTYPE html>
<html lang="en">
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}
	</style>
</head>

<body>
	<div class="container">
		<div ng-app="app">
			<script type="text/ng-template" id="zippy.html">
				<div>
					<h3 ng-click="toggleContent()">
						{{ title }}
					</h3>
					<div ng-show="isContentVisible" ng-transclude></div>
				</div>
			</script>

			<input type="text" ng-model="model.title">
			<input type="text" ng-model="model.content">

			<zippy title="{{ model.title }}">
				The content is {{ model.content }}
			</zippy>
		</div>
	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>