<div>
	Number: {{ number }}
	Network: <p> <select ng-model="network" ng-options="net for net in networks" class="form-control"></select> </p>
</div>

<div class="row">
	<div class="col-md-8">
		<p> <input type="text" ng-model="value" class="form-control"> </p>
	</div>
	<div class="col-md-4">
		<div class="btn btn-success" ng-click="makeCall({ number: number, message: value })">
			Call Home
		</div>
	</div>
</div>