<!DOCTYPE html>
<html>
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}
	</style>
</head>

<body>
	<div class="container">
		<div ng-app>
			<div ng-controller="Ctrl">
				<form novalidate class="simple-form">
					<div class="form-group">
						<label> Name: </label>
						<input type="text" class="form-control" ng-model="user.name">
					</div>

					<div class="form-group">
						<label> Email </label>
						<input type="email" class="form-control" ng-model="user.email">
					</div>

					<div class="form-group">
						<label> Gender: </label>
						M <input type="radio" value="male" ng-model="user.gender">
						F <input type="radio" value="female" ng-model="user.gender">
					</div>

					<button ng-click="reset()">Reset</button>
					<button ng-click="update(user)">Add</button>
				</form>

				<pre> form = {{ user | json }} </pre>
				<pre> master = {{ master | json }} </pre>
			</div>
		</div>
	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>