<!DOCTYPE html>
<html>
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}

		.red {
			color: red;
		}
	</style>
</head>

<body>
	<div class="container">
		<div ng-app="drinkApp">
			<div ng-controller="AppCtrl">
				<input type="text" class="form-control" ng-model="ctrlFlavor">
				<div drink flavor="{{ ctrlFlavor }}"></div>
			</div>
		</div>
	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>