<!DOCTYPE html>
<html>
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}
	</style>
</head>

<body>
	<div class="container">
		<div ng-app>
			<div ng-controller="Ctrl">
				<div class="form-group">
					<label> Name: </label>
					<input type="text" class="form-control" ng-model="usah">
					<div class="btn btn-success" ng-click="sayHello()">Greet nub</div>
				</div>
				<h4> <small> NAME: </small> {{ greeting }} </h4>
			</div>
		</div>
	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>