<!DOCTYPE html>
<html>
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}
	</style>
</head>

<body>
	<div class="container">

		<div ng-app="FilterInControllerModule">

			<div ng-controller="FilterController as ctrl">
				<p>
					All entries:
					<span ng-repeat="entry in ctrl.array">
						{{ entry.name }}
					</span>
				</p>

				<p>
					Results:
					<span ng-repeat="entry in ctrl.array | filter:'o'">
					{{ entry.name }}
					</span>
				</p>

			</div>
		</div>

	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>