<!DOCTYPE html>
<html>
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}
	</style>
</head>

<body>
	<div class="container">
		<div ng-app="myApp">
			<div ng-controller="FirstCtrl">
				<input type="text" ng-model="data.message" class="form-control">
				<h1> {{ data.message }} </h1>
			</div>

			<div ng-controller="SecondCtrl">
				<input type="text" ng-model="data.message" class="form-control">
				<h1> {{ data.message | reverse }} </h1>
			</div>
		</div>
	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>