<!DOCTYPE html>
<html ng-app>
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}

		.done-true {
			text-decoration: line-through;
			color: gray;
		}

		ul.unstyled {
			padding-left: 0;
			list-style: none;
		}
	</style>
</head>

<body>
	<div class="container">
		<div ng-controller="TodoController">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong> Todo </strong>
				</div>

				<div class="panel-body">
					<h5>
						<small>
							{{ remaining() }} out of {{ todos.length }} remaining
							[ <a href="#" ng-click="archive()"> archive </a>]
						</small>
					</h5>
					<ul class="unstyled">
						<li ng-repeat="todo in todos">
							<input type="checkbox" ng-model="todo.done">
							<span class="done-{{todo.done}}">{{ todo.text }}</span>
						</li>
					</ul>
					<div class="row">
						<form ng-submit="addTodo()">
							<div class="col-md-10">
								<input type="text" class="form-control" placeholder="Add new todo here.." ng-model="todoText">
							</div>

							<div class="col-md-2">
								<input class="btn btn-primary" type="submit" value="add">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/TodoController.js"></script>
</body>
</html>