<!DOCTYPE html>
<html>
<head>
	<title> Angular </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		.container {
			margin: 1em auto;
			width: 50%;
		}

		div[contentEditable] {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<div class="container">
		<div ng-app="myApp">
			<div contentEditable="true" ng-model="content" title="Click to edit">Kier Gwapo</div>
			<pre>model = {{ content }}</pre>
		</div>
	</div>
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/main.js"></script>
</body>
</html>